.site-content {
    padding: 20px 0;
}
/*

.entry-header {
    display: none;
}
*/

.panel-content .wrap {
    padding-bottom: 20px;
    padding-top: 20px;
}

.panel-content .entry-header {
    display: none;
}

body.page-two-column:not(.archive) #primary .entry-header, body.page-two-column.archive:not(.has-sidebar) #primary .page-header {
    float: left;
    width: 100%;
}

.blog:not(.has-sidebar) #primary article, .archive:not(.page-one-column):not(.has-sidebar) #primary article, .search:not(.has-sidebar) #primary article, .error404:not(.has-sidebar) #primary .page-content, .error404.has-sidebar #primary .page-content, body.page-two-column:not(.archive) #primary .entry-content, body.page-two-column #comments {
    float: left;
    width: 100%;
}



.container-featured-posts {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    max-width: 100% !important;
}


.container-featured-posts article {
    flex-grow: 1;
    width: calc(33.333% - 20px);
    height: 350px;
    margin: 0 20px 20px 0;
}

.container-article {
    position: relative;
    width: 100%;
    height: 350px;
    padding: 0;
    margin-bottom: 0;
    border: 1px solid #eee;

}

.container-article:hover {
    background: repeating-linear-gradient(
            -45deg,
            #ddd,
            #ddd 5px,
            #eee 5px,
            #eee 10px
    );
}

.post-image {
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 220px;
}

.container-article .img-mobile {
    display: none;
}

.container-article a {
  display: inline-block;
    text-decoration: none;
}

.container-article-details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 10px 0;
    z-index: 1;
    height: 130px;
}

.container-article .post-title {
    text-transform: uppercase;
    line-height: 1.35;
    opacity: 0.9;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}




.container-article .post-date {
    text-transform: uppercase;
    font-size: 14px;
    color: #444;
}

.container-article .post-author {
    text-transform: uppercase;
    font-size: 14px;
    color: #000;
}

article {
    border: none !important;
}

.colors-dark h2 {
    color: #fff;
}

hr {

}

.container-store-featured {
    text-align:center; background-color: #121212; padding: 40px 80px
 }

.container-store-featured h2 {
    color: #cd0a0a; padding: 40px 0 0
}

.header-link {
    text-decoration:none; box-shadow: none  !important; font-size: 36px
}



@media only screen and (max-width: 1024px) {
    .container-featured-posts article {
        width: 100%;
        float: left;
    }

    .container-store-featured {
        text-align:center; background-color: #121212; padding: 20px
    }

    .container-store-featured h2 {
        color: #cd0a0a; padding: 40px 0 0
    }

    .header-link {
        text-decoration:none; box-shadow: none  !important; font-size: 24px;
        line-height: 1.25;
    }


}

@media only screen and (max-width: 768px) {

    .container-featured-posts article {
        flex-grow: 1;
        margin: 0 0 20px 0;
        height: auto;
    }

    .container-article {
        height: auto;
    }

    .container-article-details {
        height: auto;
        position: relative;
        padding: 20px 10px;
    }

    .container-article .img-mobile {
        display: block;
        box-shadow: none;
    }

    .container-article .post-image {
        background-image: none !important;
        height: auto;
    }
}






